/* -------------------- Design system styles -------------------- */




/* ↓ --------- Fonts --------- ↓ */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto+Condensed:ital,wght@1,100..900');
/* ↑ --------- Fonts --------- ↑ */



/* ↓ --------- Colors --------- ↓ */
:root {
	--color-primary: #2B2B2B;
	--color-secondary: #808080;
	--color-contrast-1: #E6E6E6;
	--color-contrast-2: #FFFFFF;
	--color-highlight: #2AE58D;
	--color-highlight-strong: #18B168;
	--color-picture-gradient: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.dot-pattern {
	background-image:url("assets/dot-pattern-opacity-0.1.png");
	background-repeat:repeat;
/*	background-blend-mode: lighten;*/
/*	background-color:rgba(255, 255, 255, 0.9);*/
}

.highlight-transp {
	background-color: rgba(42, 229, 141, 0.2);
	backdrop-filter: blur(5px);
}
/* ↑ --------- Colors --------- ↑ */




/*---*/




/* ↓ --------- Sizings --------- ↓ */
:root {
	--size-base: 0.25rem; /*4px*/
	--size-double: 0.5rem; /*8px*/
	--size-xs: 1rem; /*16px*/
	--size-s: 1.5rem; /*24px*/
	--size-xm: 2rem; /*32px*/
	--size-m: 2.5rem; /*40px*/
	--size-l: 4.5rem; /*72px*/
	--size-xl: 6.5rem; /*104px*/
	--size-2xl: 9rem; /*144px*/
}
/* ↑ --------- Sizings --------- ↑ */




/*---*/




/* ↓ --------- Timings --------- ↓ */
:root {
	--timing-base: .3s;
	--timing-double: .6s;
	--timing-triple: .9s;
	--timing-curve: ease-in-out;
	--timing-curve-out: cubic-bezier(.17,.67,.5,1);
}
/* ↑ --------- Timings --------- ↑ */



/*---*/



/* ↓ --------- Text sizes --------- ↓ */
/*Mobile*/
@media only screen and (max-width: 600px) {
	:root {
		--font-size-tera: 6rem; /*96px*/
		--font-size-giga: 5.5rem; /*88px*/
		--font-size-mega: 4.5rem; /*72px*/
		--font-size-kilo: 3.5rem; /*64px*/
		--font-size-deci: 2rem; /*32px*/
		--font-size-centi: 1.5rem; /*24px*/
		--font-size-mili: 1rem; /*16px*/


		/* line-height = 1.75*font-size */
		--line-height-tera: 10.5rem;
		--line-height-giga: 9.625rem;
		--line-height-mega: 7.875rem;
		--line-height-kilo: 6.125rem;
		--line-height-deci: 3.5rem;
		--line-height-centi: 2.625rem;
		--line-height-mili: 1.75rem;
	}
}


/*Desktop*/
@media only screen and (min-width: 600px) {
	:root {
		--font-size-tera: 9rem;
		--font-size-giga: 8.25rem;
		--font-size-mega: 6.75rem;
		--font-size-kilo: 6rem; /*96px*/ /*-61px 3.8125rem*/
		--font-size-deci: 3rem; /*48px*/ /*-31px 1.9375rem*/ 
		--font-size-centi: 2.25rem; /*1.4516rem*/
		--font-size-mili: 1.5rem;


		/* line-height = 1.75*font-size */
		--line-height-tera: 15.75rem; /*252px*/
		--line-height-giga: 14.4375rem; 
		--line-height-mega: 11.8125rem;
		--line-height-kilo: 10.5rem; /*168px*/
		--line-height-deci: 5.25rem; /*84px*/
		--line-height-centi: 3.9375rem;
		--line-height-mili: 2.625rem;
	}
}
/* ↑ --------- Text sizes --------- ↑ */



/* ↓ --------- Text weight on hover --------- ↓ */
:root {
	--text-hover-weight: "wght" 500;
}
/* ↑ --------- Text weight on hover --------- ↑ */

/*---*/



/* ↓ --------- Text classes --------- ↓ */
.text {
	font-family: "League Spartan", sans-serif;
	font-optical-sizing: auto;
	color: var(--color-primary);
	margin:0;
	max-width:100vw;
	transition-property:font-variation-settings;
	transition-duration:var(--timing-base);
	transition-timing-function:var(--timing-curve);
}

.text.tera {
	font-size: var(--font-size-tera);
	line-height:var(--line-height-tera);
	font-variation-settings: "wght" 100;
}
.text.tera.highlight {
	font-variation-settings: "wght" 900;
}


.text.giga {
	font-size: var(--font-size-giga);
	line-height:var(--line-height-giga);
	font-variation-settings: "wght" 100;
}
.text.giga.highlight {
	font-variation-settings: "wght" 900;
}


.text.mega {
	font-size: var(--font-size-mega);
	line-height:var(--line-height-mega);
	font-variation-settings: "wght" 150;
}
.text.mega.highlight {
	font-variation-settings: "wght" 850;
}


.text.kilo {
	font-size: var(--font-size-kilo);
	line-height:var(--line-height-kilo);
	font-variation-settings: "wght" 150;
}
.text.kilo.highlight {
	font-variation-settings: "wght" 850;
}


.text.deci {
	font-size: var(--font-size-deci);
	line-height:var(--line-height-deci);
	font-variation-settings: "wght" 150;
}
.text.deci.highlight {
	font-variation-settings: "wght" 850;
}


.text.centi {
	font-size: var(--font-size-centi);
	line-height:var(--line-height-centi);
	font-variation-settings: "wght" 200;
}
.text.centi.highlight {
	font-variation-settings: "wght" 800;
}


/*Mobile*/
@media only screen and (max-width: 600px) {
	.text.mili {
		font-size: var(--font-size-mili);
		line-height:var(--line-height-mili);
		font-variation-settings: "wght" 250;
	}
	.text.mili.highlight {
		font-variation-settings: "wght" 800;
	}
}

/*Desktop*/
@media only screen and (min-width: 600px) {
	.text.mili {
		font-size: var(--font-size-mili);
		line-height:var(--line-height-mili);
		font-variation-settings: "wght" 150;
	}
	.text.mili.highlight {
		font-variation-settings: "wght" 800;
	}
}


/* ↑ --------- Text classes --------- ↑ */



/*---*/




/* ↓ --------- Comment component --------- ↓ */
/*Comments text*/
.comment.deci p {
	font-family:"Roboto Condensed", sans-serif;
	font-size: var(--font-size-deci);
	line-height: var(--font-size-kilo);
	font-variation-settings: "wght" 800;
	color:var(--color-highlight-strong);

}

.comment.centi p {
	font-family:"Roboto Condensed", sans-serif;
	font-size: var(--font-size-centi);
	line-height: var(--font-size-deci);
	font-variation-settings: "wght" 800;
	color:var(--color-highlight-strong);

}

.comment.mili p {
	font-family:"Roboto Condensed", sans-serif;
	font-size: var(--font-size-mili);
	line-height: var(--font-size-centi);
	font-variation-settings: "wght" 800;
	color:var(--color-highlight-strong);

}

.comment {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	transform: translateX(-200px);
	opacity: 0;

	transition-property: transform, opacity;
	transition-duration: var(--timing-double);
	transition-timing-function: var(--timing-curve);
}

.comment p {
	display: block;
	position: relative;
	max-width: 500px;
	text-align: right;
	margin:0;
}

.comment p::after {
	content:"";
	display:block;
	position: absolute;
	top:calc(100% + var(--size-double));
	left:0;

	width:0%;
	height:1px;

	background: var(--color-highlight-strong);

	transition-property: width;
	transition-duration: var(--timing-base);
	transition-timing-function: var(--timing-curve);
	transition-delay: var(--timing-double);
}

.comment.is-inview {
	transform: translateX(0px);
	opacity: 1;
}

.comment.is-inview p::after {
	width: 100%;
}

/* ↑ --------- Comment component --------- ↑ */









/* ↓ --------- Picture components --------- ↓ */
.picture {

}

.picture .subtitle {
	position:relative;
	z-index:2;

	transform: translateX(-200px);
	opacity:0;

	transition-property: transform, opacity;
	transition-duration: var(--timing-double);
	transition-timing-function: var(--timing-curve);
}
.picture.is-inview .subtitle {
	transform: translateX(0px);
	opacity:1;
}



.picture img {
	max-width: 100%;
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

	transition-property: clip-path;
	transition-duration: var(--timing-double);
	transition-timing-function: var(--timing-curve);
}
.picture.is-inview img {
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}



.picture .image {
	display:block;
	position:relative;
}

.picture .image::before {
	content:"";
	position:absolute;
	left:0;
	top:0;
	margin:0;
	top:0;
	height:20%;
	width:100%;

	background:var(--color-picture-gradient);
	background-blend-mode: overlay;
	opacity:0.3;
}


/*1.55 coeff*/
/*Mobile*/
@media only screen and (max-width: 600px) {
	.picture .subtitle.tera {
		margin-bottom: -3.85rem;
	}
	.picture .subtitle.giga {
		margin-bottom: -3.5rem;
	}
	.picture .subtitle.mega {
		margin-bottom: -2.86rem;
	}
	.picture .subtitle.kilo {
		margin-bottom: -2.2rem;
	}
	.picture .subtitle.deci {
		margin-bottom: -1.3rem;
	}
	.picture .subtitle.centi {
		margin-bottom: -0.95rem;
	}
	.picture .subtitle.mili {
		margin-bottom: -0.65rem;
	}
}

/*Desktop*/
@media only screen and (min-width: 600px) {
	.picture .subtitle.tera {
		margin-bottom: -5.75rem;
	}
	.picture .subtitle.giga {
		margin-bottom: -5.25rem;
	}
	.picture .subtitle.mega {
		margin-bottom: -4.3rem;
	}
	.picture .subtitle.kilo {
		margin-bottom: -3.8rem;
	}
	.picture .subtitle.deci {
		margin-bottom: -1.9rem;
	}
	.picture .subtitle.centi {
		margin-bottom: -1.45rem;
	}
	.picture .subtitle.mili {
		margin-bottom: -0.95rem;
	}
}
/* ↑ --------- Picture components --------- ↑ */









/* ↓ --------- Focus text component --------- ↓ */
p.focus {
	position: relative;
}

/*Desktop*/
@media only screen and (min-width: 600px) {
	p.focus {
		max-width: 750px;
	}
}

p.focus strong {
	position: relative;
	white-space: nowrap;
}

p.focus strong::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	opacity:0.6;

	top:25%;
	left:var(--size-base);
	height:80%;
	width: 0%;
	background: var(--color-highlight);

	transition-property: width;
	transition-duration: var(--timing-double);
	transition-timing-function: var(--timing-curve);
}

p.focus.is-inview strong::before {
	width:100%;
}
/* ↑ --------- Focus text component --------- ↑ */








/* ↓ --------- Button component --------- ↓ */
.button {
	outline:none;
	border:none;
	text-decoration: none;
	display: block;
	position: relative;

	width:fit-content;

	padding-left: var(--size-double);
	padding-right: var(--size-double);
	padding-top: var(--size-base);
	padding-bottom: 0;

	font-family: "League Spartan", sans-serif;
	font-size: var(--font-size-deci);
	font-optical-sizing: auto;
	color: var(--color-contrast-2);
	font-variation-settings: "wght" 800;
	letter-spacing: normal;
	background: var(--color-primary);

	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

	transition-property: clip-path, font-variation-settings, letter-spacing;
	transition-duration: var(--timing-double);
	transition-timing-function: var(--timing-curve);
}

.button.is-inview {
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.button:hover {
	cursor: pointer;
	transition-duration: var(--timing-base);
	font-variation-settings: var(--text-hover-weight);
	letter-spacing: 2px;
}
/* ↑ --------- Button component --------- ↑ */










/* ↓ --------- Button component --------- ↓ */

.bubble, .bubble.right {
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	opacity:0;

	transition-property: transform, opacity;
	transition-duration: var(--timing-double);
	transition-timing-function: var(--timing-curve-out);
}
.bubble {
	transform: translateX(200px);
}
.bubble.right {
	align-items: flex-end;
	transform: translateX(-200px);
}

.bubble.is-inview, .bubble.right.is-inview {
	opacity:1;
	transform: translateX(0px);
}


.bubble h3 {
	font-family: "League Spartan", sans-serif;
	font-optical-sizing: auto;
	color: var(--color-primary);
	font-size:var(--font-size-deci);
}


.bubble p {
	display:block;
	position:relative;
	margin:0;

	padding-left: var(--size-double);
	padding-right: var(--size-double);
	padding-top: var(--size-double);
	padding-bottom: var(--size-double);

	border-top:1px solid var(--color-primary);
	border-left:1px solid var(--color-primary);
	border-right:1px solid var(--color-primary);

	font-family:"Roboto Condensed", sans-serif;
	font-size: var(--font-size-centi);
	font-variation-settings: "wght" 200;
	font-optical-sizing: auto;
	color: var(--color-primary);
}

.bubble p:after {
	content: "";
	display: block;
	position: absolute;

	top:calc(100% - 1px);
	left:-1px;
	width:calc(100% + 2px);
	height:23px;

	background-color: none;
	background-position: 0 0;
	background-image:url("./assets/bubble-pointer-left.svg");
}


.bubble.right h3 {
	text-align: right;
}
.bubble.right p {
	text-align: right;
}
.bubble.right p:after {
	background-image:url("./assets/bubble-pointer-right.svg");
	background-position: 100% 0;
}


/*Mobile*/
@media only screen and (max-width: 600px) {
	.bubble h3 {
		margin-bottom: -0.8rem;
	}
}

/*Desktop*/
@media only screen and (min-width: 600px) {
	.bubble p {
		max-width:600px;
	}

	.bubble h3 {
		margin-bottom: -1.1rem;
	}
}

/* ↑ --------- Button component --------- ↑ */










/* ↓ --------- Read next component --------- ↓ */
.read-next {
	position: relative;

	padding:0;
}

.read-next p {
	position: absolute;
	display: block;
	left:0;
	top:0;
	margin:0;

	padding-left: var(--size-double);
	padding-right: var(--size-double);
	padding-top: var(--size-base);
	padding-bottom: 0;

	font-family: "League Spartan", sans-serif;
	font-size: var(--font-size-kilo);
	font-optical-sizing: auto;
	font-variation-settings: "wght" 800;
	letter-spacing: normal;
	background: var(--color-primary);
	border:1px solid var(--color-primary);
}

.read-next p.text-under {
	color: var(--color-primary);
	background:transparent;
}

.read-next p.text-over {
	color: var(--color-contrast-2);
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
/* ↑ --------- Read next component --------- ↑ */









/* ↓ --------- Animations --------- ↓ */

/* ↑ --------- Animations --------- ↑ */



















