/* -------------------- Main styles -------------------- */


.test {
	width:500px;
	height:500px;
}



/* ↓ --------- General --------- ↓ */
body {
	padding:0;
	margin:0;
	overflow:hidden;
}

.main-container {
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content: center;
	align-items: stretch;

	position:absolute;
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	left:0;
	top:0;
}
/* ↑ --------- General --------- ↑ */




/*----*/




/* ↓ --------- Top menus --------- ↓ */

.menu {
	position: relative;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-start;
	align-items:baseline;

	overflow:auto;

	padding:0;
	margin:0;
	left:0;
	top:0;

	border-bottom:1px solid var(--color-primary);
}
.menu::after, .menu::before {
	content:"";
}

.menu li {
	text-decoration:none;
	list-style:none;
	white-space:nowrap;
	letter-spacing: normal;
	transition-property: font-variation-settings, letter-spacing;
	transition-duration:var(--timing-base);
	transition-timing-function:var(--timing-curve);

}
.menu li:hover {
	cursor:pointer;
	font-variation-settings: var(--text-hover-weight) !important;
	letter-spacing: 4px;
}
.menu li.active {
	font-variation-settings: "wght" 100 !important;
}



/* Menu underline */
.menu .underline {
	display: block;
	position:absolute;
	height:2px;
	width:2rem;
	background:var(--color-primary);

	top:80%;
	left:3rem;
	margin:0;

	transition-property:left;
	transition-duration:var(--timing-base);
	transition-timing-function:var(--timing-curve-out);
}



/*Mobile*/
@media only screen and (max-width: 600px) {
	.menu {
		column-gap:var(--size-xm);
		overflow:auto;
	}
	.menu::-webkit-scrollbar {
		display:none;
	}
	.menu {
	  -ms-overflow-style: none;  /* IE and Edge */
	  scrollbar-width: none;  /* Firefox */
	}
}

/*Desktop*/
@media only screen and (min-width: 600px) {
	.menu {
		column-gap:var(--size-m);
		overflow:hidden;
	}
	.menu::-webkit-scrollbar {
		display:visible;
	}
	.menu {
	  -ms-overflow-style: inherit;  /* IE and Edge */
	  scrollbar-width: inherit;  /* Firefox */
	}
}


.swiper.level-2 {
	max-width:100%;
}

.swiper.level-2 .swiper-wrapper {
	max-width:100%;
	margin:0;
	padding:0;
}

.swiper.level-2 .swiper-slide {
	height:fit-content;
}

/* ↑ --------- Top menus --------- ↑ */




/*----*/




/* ↓ --------- Content with sections --------- ↓ */
.swiper.content {
	flex-basis:100%;
	flex-shrink:10000;
}

.swiper.content, .swiper.content .swiper-wrapper, .swiper.content .swiper-slide {
	padding:0;
	margin:0;
	left:0;
	top:0;
}

.swiper.content li.color-1 {
	background:crimson;
}
.swiper.content li.color-2 {
	background:lightseagreen;
}


.swiper.content .content-wrapper {
	display:block;
	position:absolute;
	
	width: 100%;
  	left: 0;

	height:100%;
	top:0;
	margin:0;
	padding: 0;
}



/*Mobile*/
@media only screen and (max-width: 600px) {
	.swiper.content .content-container {
		padding-left:var(--size-xs);
		padding-right: var(--size-xs);
	}
}


/*Desktop*/
@media only screen and (min-width: 600px) {
	.swiper.content .content-container {
		padding-left:var(--size-l);
		padding-right: var(--size-l);
	}
}
/* ↑ --------- Content with sections --------- ↑ */











/* ↓ --------- Specific styling --------- ↓ */
/*Mobile*/
@media only screen and (max-width: 600px) {
	


}


/*Desktop*/
@media only screen and (min-width: 600px) {
	
	#profile-pict{
		max-width:600px;
	}

}


/* --- */


#a7-years {
	display:flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-start;
}

#a7-years p:first-child {
	font-variation-settings: "wght" 100;
	transition-property: font-variation-settings;
	transition-duration: var(--timing-double);
	transition-timing-function: var(--timing-curve);
}
#a7-years.is-inview p:first-child {
	font-variation-settings: "wght" 900;
}


/*Mobile*/
@media only screen and (max-width: 600px) {

	#a7-years {
		column-gap: var(--size-xs);
	}

	#a7-years p:first-child {
		font-size:10rem;
	}
}
/*Desktop*/
@media only screen and (min-width: 600px) {

	#a7-years {
		column-gap: var(--size-s);
	}

	#a7-years p:first-child {
		font-size:14rem;
	}
}



/*---*/


#diagram-business-users-technique img {
	width: 100%;
	transform: scale(2) rotate(30deg);
	filter:blur(10px);
	opacity: 0;

	transition-property: transform, opacity, filter;
	transition-duration: var(--timing-triple);
	transition-timing-function: var(--timing-curve);
}
#diagram-business-users-technique.is-inview img {
	transform: scale(1) rotate(0deg);
	filter: blur(0px);
	opacity: 1;
}

/*Desktop*/
@media only screen and (min-width: 600px) {
	#diagram-business-users-technique img {
		max-width:600px;
	}
}

#diagram-business-users-technique h2 {
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

	transition-property: clip-path;
	transition-duration: var(--timing-double);
	transition-timing-function: var(--timing-curve);
}
#diagram-business-users-technique.is-inview h2 {
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

/* ↑ --------- Specific styling --------- ↑ */














